img {
    width: 350px;
    height: 350px;
}

table {
    width: 100%;
}

.card-style{
    background: #ff5456; /* Old browsers */
    background: -moz-linear-gradient(top, #ff5456 0%, #ffffff 65%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff5456 0%,#ffffff 65%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff5456 0%,#ffffff 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5456', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
                
.menu-bar{
    position: fixed;
    height: 80%;
    width: 90%;
    max-width: 620px;
    margin: 0;
    margin-right: 10px;
    margin-top: 155px;
    padding: 1em;
    top: 0;
    right: -90%;
    transition: right 0.3s ease-out;
    z-index: 1;
}

.active-menu .menu-bar{
    right: 0;
}

.icon-close {
    display: flex;
    justify-content: right;
    align-items: right;
}

.not-image {
    width:  300px;
    height: 300px;
    margin-bottom: 15px;
}