<div class="card card-style" *ngIf="(pokemon$ | async) as pokemon">
  <div class="text-center" *ngIf="">
    <img class="card-img-top" src="{{pokemon.sprites}}" alt="Card image cap">
  </div>

  <ng-template #notImage>
    <div class="text-center mt-4">
      <h5>
        Image not found!
      </h5>
    </div>
  </ng-template>

  <div class="card-body">
    <span class="card-title h3">{{refactorName(pokemon.name)}}</span><br>
    <span class="h6" style="margin-top: -20022px;"
      *ngFor="let type of pokemon.types">{{firstLetterUpper(getTypes(type.type.name))}}</span>

    <table class="mt-2">
      <tr>
        <td>
          <p class="card-text">Height: {{convertMeters(pokemon.height)}}m </p>
        </td>
        <td>
          <p class="card-text">Weight: {{convertMeters(pokemon.weight)}}kg</p>
        </td>
      </tr>
    </table>
  </div>

  <span class="h5 mb-3">Abilities</span>
  <ul class="list-group list-group-flush">
    <li class="list-group-item 
    " *ngFor="let ability of pokemon.abilities">{{refactorName(ability.ability.name)}}</li>
  </ul>
</div>