<div class="row text-center m-0" *ngIf="(pokemons$ | async) as pokemons">
  <div class="col-md-8">
    <div class="pokemon-grid">
      <button type="button" *ngFor="let pokemon of pokemons.pokemon" class="btn btn-danger m-2"
        (click)="savePokemon(pokemon.pokemon.url)">
        {{refactorNamePokemon(pokemon.pokemon.name)}}
      </button>
    </div>
  </div>

  <div class="col-md-4 mt-2 ml-0" *ngIf="pokemon; else selectPokemon">
    <app-pokemon-details [pokemon]="pokemon"></app-pokemon-details>
  </div>

  <ng-template #selectPokemon>
    <div class="col-md-4 mt-2 ml-0 selectPokemonClass">
      <h3>Select a Pokemon</h3>
    </div>
  </ng-template>
</div>