* {
margin-top: 75px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 3px;
}

.selectPokemonClass {
    display: flex;
    justify-content: center;
    align-items: center;
}